body {
  direction: rtl;
}

ol,
ul {
  padding-right: 0px;
}

.header {
  left: auto;
  right: 0;
}

.header:before {
  right: auto;
  left: -1px;
}

.lines-grid {
  padding-left: 0;
  padding-right: 44px;
}

.lines-grid .row .col:after {
  left: 0;
  right: auto;
}

.lines-grid .row .col .lines {
  left: auto;
  right: 0;
}

.card-inner {
  padding-left: 0;
  padding-right: 44px;
}

.card-inner .card-image {
  right: auto;
  left: -22px;
}

.header .top-menu ul li a .link {
  margin: 0 0 0 -11px;
  padding: 0 8px;
  left: auto;
  right: 120%;
}

.header .top-menu ul li a .link:before {
  left: auto;
  right: -5px;
  border-right: none;
  border-left: 5px solid #111;
}

.service-items .service-item {
  text-align: right;
}

.skills-list ul li .progress .percentage {
  left: auto;
  right: 0;
}

.content.works .filter-menu {
  text-align: left;
}

.content.works .filter-menu .f_btn {
  margin: 0 15px 0 0;
}

.contacts-items .contacts-item {
  text-align: right;
}

.contacts-items .contacts-item.card-box {
  padding: 20px 75px 20px 20px;
}

.contacts-items .contacts-item .icon {
  left: auto;
  right: 20px;
}

.mfp-content {
  text-align: right;
}

.post-box .blog-content ul.list-style li {
  padding: 0 20px 0 0;
}

.post-box .blog-content ul.list-style li:before {
  left: auto;
  right: 0;
}

.post-box .blog-content blockquote {
  padding: 0 20px 0 0;
  border-left: none;
  border-right: 2px solid #2eca7f;
}

.box-item .date {
  left: auto;
  right: 20px;
}

.align-left {
  text-align: right !important;
}

.post-box .post-comments li:before {
  left: auto;
  right: 0;
  transform: scale(-1);
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -o-transform: scale(-1);
}

.post-box .post-comments li img {
  float: right;
}

.post-box .post-comments li .comment-info {
  margin: 0 66px 0 0;
}

.post-box .post-comments li .comment-info .name h6 span {
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border-left: none;
  border-right: 1px solid #d8dbe2;
}

.post-box .post-comments li .comment-info .name a {
  right: auto;
  left: 0;
}

@media (max-width: 1330px) {
  .card-inner .card-image {
    right: auto;
    left: -16px;
  }
}

@media (max-width: 1023px) {
  .header .top-menu ul li a .link {
    display: none;
  }
  .lines-grid {
    padding-left: 0;
    padding-right: 0;
  }
  .card-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .card-inner .card-image {
    left: 0;
  }
  .header .logo {
    float: right;
  }
  .header .social {
    left: 70px;
    right: auto;
  }
  .header .menu-btn {
    right: auto;
    left: 0;
  }
}

.content.blog .all-blog {
  text-align: left;
}
